h1 add new 
a(href='/'): button index
form(action='save', method='post')
    p Name of product 
        input(type="text", value='name', name="name")
    p Price 
        input(type="text", value='price', name = 'price')
    input(type="submit", value='save') 